<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTzVcBvk-OPUC24x7UbOyJ4SOrsx0sYXI</string>
	<key>GCM_SENDER_ID</key>
	<string>1084437872337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoply</string>
	<key>PROJECT_ID</key>
	<string>shoply-f804a</string>
	<key>STORAGE_BUCKET</key>
	<string>shoply-f804a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084437872337:ios:c3a8ec2415265abf25cff0</string>
</dict>
</plist>